//https://www.w3schools.com/colors/colors_picker.asp
$color-primary: #41B883;
$color-primary-75: #a1dec2;
$color-primary-25: #215e43;

$color-secondary: #34495E;
$color-secondary-75: #adbfd2;
$color-secondary-25: #2d4052;

$color-light: #FFFFFF;

$spacing-small: 5px;
$spacing-medium: 8px;
$spacing-large: 13px;

$duration-short: 100ms;

$border-width: 2px;
$border-radius: 5px;